<!DOCTYPE html>
<html>
  <body style="font-family:Arial, sans-serif; background-color:#ffffff; margin:0; padding:0;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" style="padding: 40px 0 0 0;">
          <img src="https://i.imgur.com/DEHblf4.png" alt="Videoflix Logo" width="200" />
        </td>
      </tr>
      <tr>
        <td>
          <table width="600" cellpadding="20" cellspacing="0">
            <tr>
              <td>
                <p style="font-size: 16px;">Hello and welcome!</span></p>
                <p style="font-size: 16px;">Thank you for registering with <span style="color:#2E3EDF;">Videoflix</span>. To complete your registration and verify your email address, please click the link below:</p>
                <p style="margin: 30px 0;">
                  <a href="{{ activation_link }}" style="background-color:#2E3EDF; color:#fff; padding:14px 28px; text-decoration:none; border-radius:30px; font-weight:bold;">
                    Activate account
                  </a>
                </p>
                <p style="font-size: 16px;">If you did not create an account with us, please disregard this email.</p>
                <p style="font-size: 16px;">Best regards,<br> <br> Your Videoflix Team.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
